#fondo{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(https://play-lh.googleusercontent.com/6xWeXuSXzogMjmKQ_Ft0AmcLND51wYI8s7aNi1q9FvwbZ7Uu0lJVa0YBjoQnCnDO7ZYB);
    margin: 0;
    padding: 0;
}
#nombrejuego{
    color: #fff;
    text-align: center;
    font-size: 300%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: -3px 3px #ffffff, -3px 3px #ffffff, -3px 3px #ffffff, 3px 3px #f3f3f2, 6px 6px #703c3c;
}
#botonInicio{
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.botonI{
    cursor: pointer;
    position: relative;
    padding: 10px 30px;
    background-color: rgb(221, 217, 217);
    text-decoration: none;
    font-size: 50px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    transition: all 1s;
}
/*after y before son usados para añadir contenido antes y despues del contenido al cual se le aplican los selectores*/
&:after, &:before{
    content: " ";
    width: 10px;
    height: 10px;
}