#fondo{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(https://play-lh.googleusercontent.com/6xWeXuSXzogMjmKQ_Ft0AmcLND51wYI8s7aNi1q9FvwbZ7Uu0lJVa0YBjoQnCnDO7ZYB);
}
#nombrejuego{
    color: #fff;
    text-align: center;
    font-size: 300%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    

}