.grid {
    width: 405px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}
.grid div {
    width: 75px;
    height: 75px;
}

.vacio{
    border: solid #000;
    z-index: -1;
}

.azul{
    position: relative;
    background: rgb(8, 8, 241);
    border: 2px solid rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 1;
}
.rojo{
    position: relative;
    background: rgb(252, 3, 3);
    border: 2px solid rgb(255, 255, 255);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 1;
}
.amarillo{
    position: relative;
    background: rgb(227, 252, 3);
    border: 2px solid rgb(255, 255, 255);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 1;
}
.verde{
    position: relative;
    background: rgb(0, 255, 21);
    border: 2px solid rgb(255, 255, 255);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    z-index: 1 !important;
}

.boton{
        
    text-decoration:none;
    font-weight:600;
    font-size:20px;
    /*left: 0px;*/
    padding-top:15px;
    padding-bottom:15px;
    padding-left:90px;
    padding-right:90px;
    background-color: rgb(40, 41, 40);
    border-radius: 35px;
    color: #fff;
    border-width: 6px;
    border-left:6px ;
    border-top: 6px;
    margin-right: 850px;
    
    
}


.boton:hover {
background-color: rgb(221, 217, 217);
}
#centrar{
    margin-bottom: 35px;
}
#centrarr{
    margin-left: 450px;
    margin-top: 0px;
}