body{
    background: rgba(23, 20, 20, 0.961);
}
#caja2{
    position: absolute;
    transform: translate(-50%, -50%);
    
}
.circulo1{
    position: relative;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background: rgb(8, 8, 241);
    border: 2px solid rgb(255, 255, 255);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}